<link rel="stylesheet" href="{{'/assets/css/footer.css' | prepend: site.baseurl }}">
{% if site.footerBackgroundImage != null %}
    {% assign cls="bgImgFooter" %}
{% else %}
    {% assign cls="bgColorFooter" %}
{% endif %}
<section>
    <footer class={{cls}} id="siteFooter">
        <br>
        Maintained by <a href="{{'index.html' | prepend: site.baseurl }}" class="textLink">{{site.maintainedBy}}</a>
        <br>
        Theme built by <a href="https://github.com/James471" class="textLink">James</a>
        <br>
        Website built by <a href="{{site.builtByURL}}" class="textLink">{{site.builtBy}}</a>
        <br>
        Hosted on Github Pages.
        <br>
        {% include socialLinks.html %}
    </footer>
</section>