<link rel="stylesheet" href="{{ '/assets/css/socialLinks.css' | prepend: site.baseurl }}">
<div class="row">
    {%for link in site.data.social%}
        {%if link.url != null%}
            <div class="column">
                <div class="imgLink">
                    <a href="{{link.url  | prepend: site.baseurl }}" target="_blank">
                        <img src="{{link.img  | prepend: site.baseurl }}">
                    </a>
                </div>
            </div>
        {%endif%}
    {%endfor%}
</div>