.animated1 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes slideRight {
    0% {left: -100px; opacity: 0; position: absolute;}
    100% {left: 0px; opacity: 1; position: absolute;}
}

@-webkit-keyframes slideRight {
    0% {left: -100px; opacity: 0; position: absolute;}
    100% {left: 0px; opacity: 1; position: absolute;}
}

.animated2 {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
}