---
---
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.topnav {
    overflow: hidden;
}

.headerBgImg {
    background-image: url('{{site.headerBackgroundImage | prepend: site.baseurl}}');
    opacity: {{site.headerBackgroundImageOpacity}};
}

.headerBgColor {
    background-color: {{site.headerBackgroundColor}};
}

.topnav a {
    float: left;
    display: block;
    color: {{site.headerFontColor}};
    font-family: {{site.headerFont}};
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: {{site.headerActivePageButtonBackground}}
    color: {{site.headerFontColor}};
}

.topnav a.active {
    background-color: {{site.headerActivePageButtonBackground}};
    color: {{site.headerFontColor}};
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}